@font-face {
    font-family: 'Open Sans Bold';
    src: url('./OpenSans-Bold.eot');
    src: url('./OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('./OpenSans-Bold.woff') format('woff'),
        url('./OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('./OpenSans-Regular.eot');
    src: url('./OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('./OpenSans-Regular.woff') format('woff'),
        url('./OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./OpenSans-Light.eot');
    src: url('./OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('./OpenSans-Light.woff') format('woff'),
        url('./OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

